<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <div  class="div">
            <button (click)="getEmpleadosPromedio()" class="btn btn-dark btn-lg float  mr-5" >Obtener Promedio</button>
            <button class="btn btn-dark btn-lg float"  routerLink="/operaciones-empleado">Operaciones</button>
            <h5 style="margin-top: 30px;" *ngIf="edadProm">El promedio de edad es : {{edadProm}} </h5>

            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
            <h5 style="margin-top: 30px;" *ngIf="empleados.length == 0">No hay datos para mostrar</h5>
            <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Fecha de Nacimiento</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of empleados">
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido }}</td>
                    <td>{{ empleado.edad }}</td>
                    <td>{{ empleado.fechanac }}</td>
                    <td>
                      <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editEmpleado/', empleado.id]"></i>
                      <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>